
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<table>
  <thead>
    <strong>Abandoned Carts</strong>
  </thead>

  <tbody>
  <% @carts.each do |cart| %>
      <tr>
        <td><%= link_to 'View', cart %></td>
        <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
        <td><%= link_to 'Delete', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', admin_path %>
